.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem;
}

.avatar {
  border-radius: 50%;
  max-width: 3rem;
  max-height:3rem;
  margin-right: 5px;
}